/* Styling */

/* global */
@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700);
@import url(https://fonts.googleapis.com/css?family=Rationale);
@import url(https://fonts.googleapis.com/css?family=Russo+One);
body{
    background: #BBB9A4;
    font-family: 'Cuprum', sans-serif;
    color: #404041;
}

.grid-container{
    
}

h1{
    font-size: 2em;
}
h3{
    background: #E6E7E8;
    border-radius: 4px;
    padding: 3px 0 3px 3em;    
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;    
}
h4{
    font-size: 1.1em;
}
/*header*/
header img{
    width:100px;
}
header{
    background: #404041;
    color: #ADE8DC;
    border-radius: 1em;
    text-align: right;
}

/*main nav*/
nav li{
  list-style: none;
  display: inline-block;
    float: right;
}

nav a:link, nav a:visited{
  text-decoration: none;
  background: #E6E7E8;
padding: 3px 3px 0 3px;
  transition: all 1s;
   margin: 1em;
    color: #86663F;
}

nav a:hover{
  background: #BBB9A4;
}

nav a:active{
  background: #404041;
}

/*
blockquote{
    font-size: 2em;
    color: #86663F;
    text-align: center;
    text-shadow: -1px 1px 0 #404041;
    background: #BBB9A4;
    padding: 1em;
}*/
