/* Styling */

/* global */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);
body{
    background: url("/img/light_honeycomb.png");
}


/*header*/
header img{
    width:100px;
}

/*main nav*/
nav li{
  list-style: none;
  display: inline-block;
}

nav a:link, nav a:visited{
  text-decoration: none;
  background: pink;
  padding: 1em;
  transition: all 1s;
}

nav a:hover{
  background: green;
  margin-left: 1em;
}

nav a:active{
  background: yellow;
}

blockquote{
    font-family: 'IM Fell Double Pica', serif;
    font-size: 2em;
    color: orangered;
    text-align: center;
    text-shadow: 
        -100px -10px 0 #000,
    2px 8px 0 #000,
    2px 32px 0 #000,
    2px 128px 0 #000,
    2px 256px 0 #000;
}