@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700);
@import url(https://fonts.googleapis.com/css?family=Rationale);
@import url(https://fonts.googleapis.com/css?family=Russo+One);
body{
    background: #404041;
    font-family: 'Cuprum', sans-serif;
    color: #E6E7E8;
}

@keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1;}
}
header{
    color: #ADE8DC;
    text-align: center;

}

nav{
    margin-right:2.5em;
    animation: fadein 0.1s;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
    opacity: 0;
}
nav li{
  list-style: none;
  display: inline-block;
    float: center;
}

nav a:link, nav a:visited{
  text-decoration: none;
padding: 3px 3px 0 3px;
  transition: all 1s;
   margin: 1em;
    color: #E6E7E8;
}

nav a:hover{
  color: #BBB9A4;
}

nav a:active{
}

h1{
    font-size: 2em;
    font-family: 'Russo One', sans-serif;
    animation: fadein 0.1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#title{
    background: #ADE8DC;
    border-radius: 4px;
    padding: 3px 0 3px 2em;    
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    animation: fadein 0.1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    color: #404041;
    opacity: 0;
}
#bio{
    background: #ADE8DC;
    border-radius: 4px;
    padding: 3px 0 3px 2em;    
    font-family: 'Russo One', sans-serif;
    font-size: 1.75em;
    animation: fadein 0.1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    color: #404041;
    opacity: 0;
}
#img{   
    animation: fadein 0.1s;
    animation-delay: 3.25s;
    animation-fill-mode: forwards;
    opacity: 0;
}
#pro{
    background: #ADE8DC;
    border-radius: 4px;
    padding: 3px 0 3px 2em;    
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    animation: fadein 0.1s;
    animation-delay: 2.75s;
    animation-fill-mode: forwards;
    color: #404041;
    opacity: 0;
}
#edu{
    background: #ADE8DC;
    border-radius: 4px;
    padding: 3px 0 3px 2em;    
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    animation: fadein 0.1s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    color: #404041;
    opacity: 0;
}
#jobs{
    background: #ADE8DC;
    border-radius: 4px;
    padding: 3px 0 3px 2em;    
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    animation: fadein 0.1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    color: #404041;
    opacity: 0;
}
#skills{
    background: #ADE8DC;
    border-radius: 4px;
    padding: 3px 0 3px 2em;    
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    animation: fadein 0.1s;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
    color: #404041;
    opacity: 0;
}
#ref{
    background: #ADE8DC;
    border-radius: 4px;
    padding: 3px 0 3px 2em;    
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    animation: fadein 0.1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    color: #404041;
    opacity: 0;
}

h4{
    font-size: 1.1em;
}



#row2{
    transition: all 0.5s;
    height: 4em;
    overflow: hidden;
    transform: rotate(-90deg) translate(-8.25em,-9.75em);
}
#row2:hover{
    transition: all 0.5s;
    height: 16em;
    transform: translateY(0em);
}
#row2point5{
    transition: all 0.5s;
    height: 4em;
    overflow: hidden;
    transform: rotate(90deg) translate(8.25em,-9.75em);
}
#row2point5:hover{
    transition: all 0.5s;
    height: 16em;
    transform: translateY(0em);
}

#right{
    text-align: right;
}
#row3{
    transition: all 0.5s;
    height: 4em;
    overflow: hidden;
}
#row3:hover{
    transition: all 1s;
    height: 26em;
}

/*
blockquote{
    font-size: 2em;
    color: #86663F;
    text-align: center;
    text-shadow: -1px 1px 0 #404041;
    background: #BBB9A4;
    padding: 1em;
}*/
