<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Portfolio - David Lang Dot Design</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <h1>DAVID LANG | portfolio</h1>
    <nav id="menu">
        <ul>
            <li><a id="resume" href="/">Return to Home</a></li>
        </ul>
    </nav>
    <p>Thanks for taking the time to peak over my portfolio! I've gathered a strong handful of projects below that I believe best reflect my overall skillset and applicability to the position. Feel free to reach out to me if you have any questions about these projects or my application.</p>
    <div id="one" class="dark">
        <h2>Project 1</h2>
        <img src="https://www.expressandstar.com/resizer/SFIOitu107f-BYZ08znkGDlxrD4=/1200x0/cloudfront-us-east-1.images.arcpublishing.com/mna/5APW4UOCDRGADAGVOFP3Q5AL6A.jpg" alt="Otters!"> 
        <p>Project description here.</p>
    </div>
    <div id="two" class="dark">
        <h2>Project 2</h2>
        <img src="https://www.expressandstar.com/resizer/SFIOitu107f-BYZ08znkGDlxrD4=/1200x0/cloudfront-us-east-1.images.arcpublishing.com/mna/5APW4UOCDRGADAGVOFP3Q5AL6A.jpg" alt="Otters!"> 
        <p>Project description here.</p>
    </div>
    <div id="three" class="dark">
        <h2>Project 3</h2>
        <img src="https://www.expressandstar.com/resizer/SFIOitu107f-BYZ08znkGDlxrD4=/1200x0/cloudfront-us-east-1.images.arcpublishing.com/mna/5APW4UOCDRGADAGVOFP3Q5AL6A.jpg" alt="Otters!"> 
        <p>Project description here.</p>
    </div>
    <div id="four" class="dark">
        <h2>Project 4</h2>
        <img src="https://www.expressandstar.com/resizer/SFIOitu107f-BYZ08znkGDlxrD4=/1200x0/cloudfront-us-east-1.images.arcpublishing.com/mna/5APW4UOCDRGADAGVOFP3Q5AL6A.jpg" alt="Otters!"> 
        <p>Project description here.</p>
    </div>
    <div id="five" class="dark">
        <h2>Project 5</h2>
        <img src="https://www.expressandstar.com/resizer/SFIOitu107f-BYZ08znkGDlxrD4=/1200x0/cloudfront-us-east-1.images.arcpublishing.com/mna/5APW4UOCDRGADAGVOFP3Q5AL6A.jpg" alt="Otters!"> 
        <p>Project description here.</p>
    </div>
        <nav id="menu">
        <ul>
            <li><a id="resume" href="https://davidlang.design/">Return to Home</a></li>
        </ul>
    </nav>
</body>

</html>