@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
* {
    margin: 0.5em;
    transition: all 2s;
}

body {
    background: #e6e6e6;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #e6e6e6;
    text-align: center;
}


/*LARGE*/

.temp,
.high2,
.low2 {
    font-size: 10em;
    margin: 0em;
    font-family: 'Russo One', sans-serif;
    transform: translateY(-16px)
}


/*MEDIUM*/

.city,
.currently,
.wind2,
.humid2,
.sun2 {
    font-size: 3em;
    font-family: 'Russo One', sans-serif;
    transform: translateY(-16px);
}


/*INFO COLORS*/


/*light color pallet from
http://www.color-hex.com/color-palette/5361*/

.city {
    color: #baffc9;
}

.temp,
.currently {
    color: #ffffba;
}

.high2 {
    color: #ffb3ba;
}

.low2 {
    color: #bae1ff;
}

.wind2,
.humid2,
.sun2 {
    color: #ffdfba;
}


/*BG COLORS*/


/* dark color pallet from
http://www.color-hex.com/color-palette/4454 + 90%K CMYK*/

.one {
    background: #191919;
}

.two {
    background: #171438;
}

.three {
    background: #0f401f;
}

.four {
    background: #4f4416;
}

.five {
    background: #54391e;
}

.six {
    background: #511313;
}


/*ERRORS*/

.error {
    color: #191919;
    font-size: 3em;
    font-family: 'Russo One', sans-serif;
}