@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;600&display=swap');

::selection {
    background: #CF1C4F;
}

body {
    background-image: linear-gradient(to right, #092882, #F4EDE4 50%, #092882);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    margin: 0;
}

#tray{
    background-color: rgba(244,237,228,0.7);
    width: 70%;
    margin: auto;
}

img {
    width: 90%;
    display: block;
    margin: auto;
}

#intro{
    padding-top: 30px;
    width: 80%;
    margin: auto;
    line-height: 26pt;
        letter-spacing: 1px;

}

input{
        background-color: rgba(255,255,255,0.2);
    border-width: 2px;
     border-color: #092882;
    border-right-style: none;
        border-left-style: none;
            border-top-style: none;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    width: 70%;
    font-size: 20pt;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    border-image: none;
}

select{
        font-family: 'Teko', sans-serif;
    text-transform: uppercase;
font-size: 18pt;
    overflow-y: auto;
    background: none;
    border-style: none;
    text-align: center;
    margin-top: 10px;
    height: 90px;
}

option{
    display: inline-block;
    margin: 20px;
    font-size: 18pt;
padding: 8px 10px 5px 10px;
color: white;
          border-radius: 15px;
    background: #CF1C4F;

}

#showall{
    background: #092882
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 16pt;
    padding-bottom: 30px;
}

.checkbox-group{
            display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 80%;
    margin: auto;
    font-size: 30pt;
    padding: 15px 0;
}

.container{
    width: 90%;
    margin: auto;

}

.mix{
    width: 90%;
    background: #F4EDE4;
      border-style: solid;
  border-width: 3px;
     border-color: #092882;
      border-radius: 30px;
margin-bottom: 15px;
        opacity: 100%; !important;
box-shadow: 0px 0px 10px rgb(0 0 0 / 0);
        transition: all 0.5s;
    display: block;
}

.mix:hover{
    box-shadow: -4px 4px 0px #020A21;
    transition: all 0.5s;
}

.pat{
         border-color: #CF1C4F;
    margin-left: auto; 
margin-right: 0;
}

.pat:hover{
    box-shadow: 4px 4px 0px #5E0D24;
/*    box-shadow: 10px 10px 10px rgb(0 0 0 / 0.3);*/
}

h2 {
    font-size: 30pt;
    margin: auto;
    padding-top: 8px;
}

.ratings{
        display: flex;
    flex-direction: row;
    justify-content: center;
}

h6{
    font-size: 26pt;
    margin: 0 1.5% ;
        font-weight: 400;
    line-height: 30pt;
    padding-bottom: 10px;

}

.blu{
    color: #092882;
    font-weight: 600;
}

.red{
    color: #CF1C4F;
    font-weight: 600;
}


a:link, a:visited {
    color: black;
    text-decoration: none;
        transition: color .5s;

}

.mix a:hover{
    color: #092882;
    transition: color .5s;

}

.pat a:hover{
    color: #CF1C4F;
}
#note{
        padding-top: 15px;
}
#footer{
    transform: rotate(180deg);
}

p a:hover{
    color: #CF1C4F;
}

@media (min-width: 1px) and (max-width: 1440px) {

}