@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    background: url("/style-tile/img/hexellence.png)";
    font-family: 'Roboto', sans-serif;
}

/*Color Palette */

.color-1{
    background: white;
}
.color-2{
    background: #ADE8DC;
}
.color-3{
    background: #BBB9A4;
}
.color-4{
    background: black;
}
.color-5{
    background: #86663F;
}

/*Texture and Pattern*/

.pattern-1{
    background: url("http://placekitten.com/300/300") no-repeat center;
    background-size: contain;
}
.pattern-2{
    background: url("http://placekitten.com/300/300");
    background-size: contain;
}
.pattern-3{
    background: url("http://placekitten.com/300/300") center;
    background-size: cover;
}

/*Images*/
.imagery-1 img{
    box-shadow: -10px -10px 20px red;
}

/*Icons*/
.icon-1{
    border: none;
}

.icon-1 img{
    background-size: contain;
}

.icon-2 {
    background: url("/img/contact.png") center;
    background-size: contain;
}

/*Navigation*/

nav li{
    list-style: none;
    float: left;
}

nav a:link{
    background: red;
    padding: 20px 20px 5px 20px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    border-bottom: 2px solid blue;
    border-radius: 5px;
}

nav a:visited{
    color: aqua;
}

nav a:focus{
    border: 30px solid red;
}

nav a:hover{
    background: blue;
    color: red;
    margin-top: 20px
}

nav a:active{
    background: black;
}

/*ORDER: LoVF HAte*/