@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700);
@import url(https://fonts.googleapis.com/css?family=Russo+One);
::selection{
    background: #86663F;
}
body{
    background: #404041;
    font-family: 'Cuprum', sans-serif;
    text-align: center;
}

.info{
    position: static;
    margin-top: 120px;
    font-size: 1.2em;
    color: #ADE8DC;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Russo One', sans-serif;
    text-shadow: 2px 3px #86663F;
}

h2{
    background: #ADE8DC;
    border-radius: 4px;
}
/*Color Palette */

.color-1{
    background: #E6E7E8;
}
.color-2{
    background: #ADE8DC;
}
.color-3{
    background: #BBB9A4;
}
.color-4{
    background: #404041;
}
.color-5{
    background: #86663F;
}

/*Texture and Pattern*/


.pattern-1{
    background: url("https://qph.is.quoracdn.net/main-qimg-eaf917691c45339a9a1cd8ff6c9a54a5?convert_to_webp=true") no-repeat center;
    background-size: cover;
}
.pattern-2{
    background: url("/style-tile/img/dark_honeycomb.png") no-repeat center;
}
.pattern-3{
    background: url("http://img07.deviantart.net/9a00/i/2010/032/2/c/rain_texture_by_fear_fixation.jpg") center no-repeat;
    background-size: cover;
}

/*Images*/

.imagery-1 img{
    width: 250px;
}

.imagery-2 img{
    width: 250px;
}

.imagery-3 img{
    width: 250px;
}

/*Icons*/

.icons{
    background: #E6E7E8;
}
.icon-1 img{
    width: 90px;
    padding: 5px 5px 5px 5px;
}
.icon-2 img{
    width: 90px;
    padding: 5px 5px 5px 5px;
}
.icon-3 img{
    width: 90px;
    padding: 5px 5px 5px 5px;
}

/*Navigation*/
.primary-nav{
    position: fixed;
    background: #404041;
      width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  text-align: left;
    color: #404041;
    padding-left: 30px;
}

nav li{
    list-style: none;
     float: right;
    padding-right: 50px;
}

nav a:link, nav a:visited{
    background: #BBB9A4;
    padding: 1px;
    margin: 0 20px 0 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #404041;
}

nav a:focus{
    background: #BBB9A4;
}

nav a:hover{
    background: #ADE8DC;
    color: #86663F;
    margin-top: 20px
}

nav a:active{
}

/*ORDER: LoVF HAte*/
/*Typography*/
.typography{
    background: #404041;
    color: #E6E7E8;
}

.typography a:link, .typography a:visited{
    color: #BBB9A4;
    text-decoration: none;
}
