@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

body{
    background: #BBB9A4;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.info{
    background: #86663F;
    position: static;
    margin-top: 120px;
    font-size: 1.5em;
    color: #ADE8DC;
    padding-top: 1px;
    padding-bottom: 1px;
}

/*Color Palette */
.colors{
    background: white;
}


.color-1{
    background: white;
}
.color-2{
    background: #ADE8DC;
}
.color-3{
    background: #BBB9A4;
}
.color-4{
    background: black;
}
.color-5{
    background: #86663F;
}

/*Texture and Pattern*/
.patterns{
    background: white;
}


.pattern-1{
    background: url("https://qph.is.quoracdn.net/main-qimg-eaf917691c45339a9a1cd8ff6c9a54a5?convert_to_webp=true") no-repeat center;
    background-size: cover;
}
.pattern-2{
    background: url("/style-tile/img/dark_honeycomb.png") no-repeat center;
    background-size: ;
}
.pattern-3{
    background: url("http://img07.deviantart.net/9a00/i/2010/032/2/c/rain_texture_by_fear_fixation.jpg") center no-repeat;
    background-size: cover;
}

/*Images*/
.imagery{
    background: white;
}

.imagery-1 img{
    width: 250px;
/*    box-shadow: -10px -10px 20px red*/
}

.imagery-2 img{
    width: 250px;
}

.imagery-3 img{
    width: 250px;
}

/*Icons*/

.icons{
    background: white;
}

.icon-1 img{
    width: 90px;
    padding: 5px 5px 5px 5px;
}
.icon-2 img{
    width: 90px;
    padding: 5px 5px 5px 5px;
}
.icon-3 img{
    width: 90px;
    padding: 5px 5px 5px 5px;
}

/*Navigation*/
.primary-nav{
    position: fixed;
    background: black;
      width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  text-align: left;
    color: #ADE8DC;
    padding-left: 30px;
}

nav li{
    list-style: none;
     float: right;
    padding-right: 50px;
}

nav a:link{
    background: #86663F;
    padding: 5px 20px 5px 20px;
    margin: 0 20px 0 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #ADE8DC; /*doesn't work because no links?*/
}

nav a:visited{
    color: #ADE8DC; /*CHANGE when links are updated?*/
}

nav a:focus{
    background: #BBB9A4;
}

nav a:hover{
    background: #ADE8DC;
    color: #86663F;
    margin-top: 20px
}

nav a:active{
}

/*ORDER: LoVF HAte*/
/*Typography*/
.typography{
    background: white;
    text-align: center;
}

.typography a:link{
    ;
    color: #ADE8DC;
}

typography a:visited{
    color: #ADE8DC; /*Neither of these are working?*/
}
