@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700);
@import url(https://fonts.googleapis.com/css?family=Russo+One);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
::selection{
    background: #86663F;
}
body{
    background: #404041;
    font-family: 'Cuprum', sans-serif;
    color: #E6E7E8;
}
header{
    color: #ADE8DC;
    text-align: center;

}

h1{
    font-size: 2em;
    font-family: 'Russo One', sans-serif;
    text-shadow: 2px 3px #86663F;
}
nav{
    margin-right: 2.5em;
}
li{
  list-style: none;
    float: center;
}

nav li{
    display: inline-block;
}

a:link, a:visited{
  text-decoration: none;
padding: 3px 3px 0 3px;
  transition: all 1s;
   margin: 1em;
    color: #E6E7E8;
}

a:hover{
  color: #BBB9A4;
}

a:active{
}

h3{
    text-shadow: 1px 1px #86663F;
    background: #ADE8DC;
    border-radius: 4px;
    padding: 3px 0 3px 2em;    
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    color: #404041;
    margin-top: -0.25em;
}

img{
    max-width: 72%;
    margin: 0 auto;
    display: block;
}

.flex{
    display: flex;
}

#desc{
    width: 67%;
    float: none;
    margin: auto;
    margin-bottom: 1em;
}

#contents{
    width: 67%;
    margin: auto;
    padding: 1em 0 1em 0;
    font-size: 1.25em;
}

#py{
    width: 67%;
    margin: auto;
    margin-bottom: 2em;
    color: #404041;
    background: #E6E7E8;
    padding: 1.5em;
    font-family: 'Anonymous Pro';
    font-size: 0.8em;
}

#links{
    font-size: 1.25em;
    width: 67%;
    margin: auto;
    margin-bottom: 2em;
}

#arcinfo{
    margin-top: 1em;
}

@media (min-width: 1px) and (max-width: 767px)  {
    }