@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700);

body{
    background: #E6E7E8;
    font-family: 'Cuprum', sans-serif;
}

main{
  width: 75%;
  margin: 0 auto;
  background: #D3E1F3;
}

header{
  text-align: center;
    font-weight: 700;
    color: #214D99;
    padding-top: 1em;
}
article{
  text-align: justify;
}
h4{
    padding: 0 10em 0 10em;
    color: #214D99;
    text-align: justify;
    margin-top: 2em;
}
.title{
    margin: 2.5em 1em 1em 1em;
    text-align: center;
    font-size: 1.5em;
    background: #E6E7E8;
    color: #214D99;
    padding: 0.25em 0 0.25em 0;
}

footer{
  text-align: right;
}
img{
    padding: 1em;
}
nav li{
  
    list-style: none;
  display: inline-block;
    margin: 0 2em 0 2em;
}
nav a:link, visited{
    text-decoration: none;
    color: #214D99;
    padding: 0.5em;
    transition: background 1s;
    transition: border-radius 1s;
    border-radius: 1em;
}

nav a:hover{
    background: #E6E7E8;
    border-radius: 1em;
    padding: 0.5em;
    transition: background 1s;
}
